.table {
  border-collapse: collapse
}

.header {
  background-color: azure;
  font-size: larger;
  font-weight: bold;
}

.evenRows { 
  background-color: white;
}

.oddRows { 
  background-color: azure;
}

.info {
  color: black;
}

.warn {
  color: orange;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.fatal {
  color: red;
  font-style: italic;
  font-weight: bold;
}
